<% content_for :head do %>
<script>
$(document).ready(function() {
  $('#add-a-comment-link').click(function() {
    $('#add-a-comment-link').hide();
    $('#add-a-comment-form').show();
  });
});
</script>
<style>
label {
  display: none;
}
</style>
<% end %>

<h1><a href="/"><img src="/images/logo.png" alt="GeodesignWorld"/></a></h1>
<%= link_to 'Take me back to the main page.', root_path, :id => 'sign-out-block' %>
<h2>A Question</h2>

<p style="font-size:24px;"><%= @question.body %></p>
<p>&nbsp;</p>
<p>Originally posted by: <%= @question.person.name %></p>
<p>&nbsp;</p>
<p><%= pluralize(@question.votes, 'vote') %> <%= link_to "This is good. Add my vote.", vote_up_question_path(@question) %></p>
<p>&nbsp;</p>
<a href="#" id="add-a-comment-link">Add a Comment</a>
<h2><%= pluralize(@question.question_comments.length, 'comments') %></h2>

<% @question.question_comments.each do |comment| %>
  <p><%= comment.body %> (<em><%= link_to comment.person.name, person_path(comment.person) %>, <%= time_ago_in_words(comment.created_at) %> ago</em>)</p>
  <p>&nbsp;</p>
<% end %>

<div id="add-a-comment-form" style="display: none;">
  <% semantic_form_for(@question_comment) do |f| %>
    <%= f.input :body, :input_html => { :rows => 10, :cols => 40 } %>
    <%= hidden_field_tag "question_comment[question_id]", @question.id %>
    <%= f.commit_button "Post Comment" %>
  <% end %>
</div>